body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(26, 24, 24);
    color: white;
}

.mySlides {
    display: none;
}

.fa-quote-left {
    color: red;
    font-size: 50px;
    margin-left: 25%;
}

.fa-quote-right {
    color: red;
    font-size: 50px;
    margin-left: 70%;
}

.logo h1 {
    font-size: 3.5em;
    text-align: center;

}

.review-display-container {
    text-align: center;
}

.button-display-left {
    margin-top: -5px;
    background-color: transparent;
    margin-left: -1%;
}

.button-display-right {
    font-size: 20px;
    background-color: transparent;
    margin-left: -30%;
}

#logo {
    margin-top: 4%;
    height: 200px;
    margin-left: 45%;
}

.home-items {
    display: flex;
    position: absolute;
    left: 25%;
    padding-top: 2%;
    list-style: none;
    background-color: rgb(10, 10, 10);
    width: 48%;
    height: 60px;
    border-radius: 100px;
    position: center;
    margin-top: 8.5%;
    position: fixed;
}

.home-page {
    position: absolute;
    z-index: 1;
    object-position: center;
}

.home-items a {
    text-decoration: none;
    color: white;
    padding-left: 40px;

}

.home-items a:hover {
    border-radius: 6px;
    font-size: 20px;
    padding-right: 30px;
}

#reservation {
    background-color: gray;
    padding: 25px;
    margin-left: 30%;
    border-radius: 30px;
}

.fa-bars {
    color: white;
}

.fa-clock {
    color: white;
}

.fa-whatsapp {
    font-size: 80px;
    color: gray;
    margin-left: 94%;
    text-decoration: none;
    margin-top: 10%;
    position: fixed;

}


@media only screen and (min-width: 200px) and (max-width:950px) {
    body {
        width: 100%;
        width: auto;
    }

    .fa-quote-left {
        width: 100%;

    }

    .fa-quote-right {

        width: 100%;

    }

    .logo h1 {
        width: 100%;


    }

    .review-display-container {
        text-align: center;
    }

    .button-display-left {
        margin-top: -5px;
        background-color: transparent;
        margin-left: -1%;
    }

    .button-display-right {
        font-size: 20px;
        background-color: transparent;
        margin-left: -30%;
    }

    #logo {
        width: 100%;
        margin-left: 0%;
    }

    .home-items {
        width: 100%;
        margin-left: -25%;
        margin-top: 10%;
        padding-left: 0%;

    }

    .home-items a {
        width: 100%;

    }

    .home-items a:hover {
        border-radius: 6px;
        font-size: 20px;
        padding-right: 30px;
    }

    #reservation {
        margin-left: -100%;
        width: 100%;
        padding-left: -60%;
    }

    .fa-whatsapp {
        width: 100%;
        margin-left: 50%;
        margin-top: 10%;



    }



































}